@import './base';

.canvas-wrapper
{
    width: 100vw;
    height: 100vh;
    margin-top: -83px;

    .title-experience
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        word-break: keep-all;
        text-transform: uppercase;
        font-size: 1.75rem;
        letter-spacing: 10px;

        @media (min-width: $mobile)
        {
            font-size: 3rem;
        }

        @media (min-width: $tablet)
        {
            font-size: 4rem;
        }

        @media (min-width: $laptop)
        {
            font-size: 6rem;
            letter-spacing: 30px;
        }
    }
}

.my-values
{
    margin-bottom: 4rem;

    @media (min-width: $mobile)
    {
        margin: 10rem 0;
    }
}

.about-section
{
    @media (min-width: $tablet)
    {
        margin-bottom: 15rem;
    }

    .about-wrapper
    {
        display: flex;
        flex-direction: column;

        @media (min-width: $tablet)
        {
            flex-direction: row;
            margin-top: 4rem;
        }
    }

    .photoWrapper
    {
        position: relative;
        margin-bottom: 5rem;

        @media (min-width: $tablet)
        {
            flex: 0 0 40%;
            margin-bottom: 0;
        }

        &:after
        {
            content: "";
            display: block;
            position: absolute;
            bottom: 12%;
            left: 50%;
            transform: translate(-50%, 0);
            width: 64%;
            height: 14%;
            border-radius: 50%;
            box-shadow: 0 50px 24px rgba(95, 95, 95, 0.5);

            animation: floatShadowMobile 6s ease-in-out infinite;

            @media (min-width: $mobile)
            {
                width: 55%;
                box-shadow: 0 110px 30px rgba(95, 95, 95, 0.5);

                animation: floatShadowTablet 6s ease-in-out infinite;
            }
        
        }
    }

        .photo
        {
            width: 70%;
            margin: 0 auto;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            z-index: 1;
            animation: float 6s ease-in-out infinite;

            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }

            img
            {
                width: auto;
                height: 100%;
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }

    .about-desc
    {
        @media (min-width: $tablet)
        {
            flex: 0 0 50%;
            margin-right: 10%;
        }
    }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes floatShadowMobile {

	0% {
		width: 64%;
	}
	50% {
		width: 60%;
	}
	100% {
		width: 64%;
	}
}

@keyframes floatShadowTablet {

	0% {
		width: 55%;
	}
	50% {
		width: 50%;
	}
	100% {
		width: 55%;
	}
}

.company
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media (min-width: $tablet)
    {
        flex-direction: row;
        margin: 0 -0.5rem;
    }

    .company-wrapper
    {
        background-color: $secondary-color;
        padding: 1rem;
        margin-bottom: 1rem;

        &:last-child
        {
            margin-bottom: 0;
        }

        @media (min-width: $tablet)
        {
            flex: 0 0 calc(33.333% - 1rem);
            margin: 2rem 0.5rem 0;
            padding: 1.5rem;
        }

        p
        {
            color: $primary-color;
        }

        .company-order
        {
            font-size: 3rem;
            margin-top: 0;
            letter-spacing: 7px;
            color: grey;

            @media (min-width: $mobile)
            {
                font-size: 4rem;
            }
        }

        .company-detail
        {
            font-size: 1.3rem;

            @media (min-width: $mobile)
            {
                font-size: 2rem;
            }
        }
    }
}

.skills-section
{
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: $tablet)
    {
        flex-direction: row;
    }

    .skills-desc
    {
        flex: 0 0 100%;

        @media (min-width: $tablet)
        {
            flex: 0 0 calc(35% - 3rem);
            margin-right: 3rem;
        }
    }

    .skills
    {
        flex: 0 0 100%;
        list-style: none;
        margin: 2rem 0;
        
        @media (min-width: $tablet)
        {
            display: flex;
            flex-wrap: wrap;
            flex: 0 0 65%;
            margin: 0 -0.5rem;
        }

        .skill-wrapper
        {
            display: flex;
            flex-wrap: wrap;
            padding: 1.5rem 1rem;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            margin-bottom: 1.5rem;

            &:last-child
            {
                margin-bottom: 0;
            }

            @media (min-width: $tablet)
            {
                flex: 0 0 calc(50% - 1rem);
                margin: 0.5rem;
            }

            .skill-icon
            {
                flex: 0 0 40px;
                margin-right: 16px;

                @media (min-width: $mobile)
                {
                    flex: 0 0 60px;
                }

                @media (min-width: $tablet)
                {
                    flex: 0 0 40px;
                }

                @media (min-width: $laptop)
                {
                    flex: 0 0 60px;
                }

                &-style
                {
                    width: 40px;
                    height: auto;

                    @media (min-width: $mobile)
                    {
                        width: 60px;
                    }

                    @media (min-width: $tablet)
                    {
                        width: 40px;
                    }

                    @media (min-width: $laptop)
                    {
                        width: 60px;
                    }
                }
            }

            .skill-desc
            {
                flex: 0 0 calc(100% - 56px);

                @media (min-width: $mobile)
                {
                    flex: 0 0 calc(100% - 76px);
                }

                @media (min-width: $tablet)
                {
                    flex: 0 0 calc(100% - 56px);
                }

                @media (min-width: $laptop)
                {
                    flex: 0 0 calc(100% - 76px);
                }

                &-name
                {
                    margin-top: 0;
                    font-size: 20px;

                    @media (min-width: $mobile)
                    {
                        font-size: 2rem;
                    }

                    @media (min-width: $tablet)
                    {
                        font-size: 20px;
                    }

                    @media (min-width: $laptop)
                    {
                        font-size: 2rem;
                    }
                }

                &-blurb
                {
                    @media (min-width: $tablet)
                    {
                        font-size: 1rem;
                    }

                    @media (min-width: $laptop)
                    {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

.swiper
{
    margin: 2rem 0;
}

.swiper-wrapper
{
    display: flex;
}

.swipper-slide
{
    flex: 0 0 calc(100% - 1rem);
    position: relative;
    background: grey;
    margin-right: 1rem;
    z-index: 1;

    @media (min-width: $tablet)
    {
        flex: 0 0 calc(50% - 1rem);
    }

    @media (min-width: $laptop)
    {
        flex: 0 0 calc(33.3333% - 1rem);
    }

    &:hover {
        cursor: grab;
    }

    &:active {
        cursor: grabbing;
    }

    &:after {
        content: "";
        display: block;
        padding-bottom: calc(100% - 1rem);
    }

    .swipper-image-wrap
    {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: rgba(0,0,0,0.2);
        }

        .swipper-image
        {
            position: absolute;
            width: 100%;
            height: auto;
            z-index: -1;
        }
    }
    
    .swipper-content
    {
        position: absolute;
        bottom: 5%;
        width: 100%;
        background-color: $secondary-color;
        padding: 1rem;

        p 
        {
            margin-top: 0;
            color: $primary-color;
            font-weight: bold;
        }

        span
        {
            font-size: 14px;
            padding: 5px;
            background-color: $tiertary-color;
            color: $secondary-color;
            border-radius: 10px;
            margin-right: 10px;
        }
    }
}